tr:nth-child(2n+1) {
    background-color: lightgrey;
}

tr:first-of-type {
    background-color: limegreen;
    color: whitesmoke;
}

tr:first-of-type td {
    border-bottom: 1px solid grey;
}

td:first-of-type {
    border-left: 0;
}

table {
    font-size: 14px;
    border-spacing: 0;
    border-bottom: 1px solid grey;
}

td {
    padding: 4px;
    border-left: 1px solid grey;
}


